body{
    color: rgb(229, 238, 243);
    background-color: rgb(29, 28, 27);
}

header {
    border-bottom: solid 2px rgb(235, 193, 136);
    padding: 20px;
    font-size: 32px;
    color: rgb(236, 223, 206);


}

section  {

    background: rgb(199, 103, 13);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}
.chamada-texto {
    margin-right: 10%;
}
